body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    height: 425px;
    width: 425px;
    background-color: purple;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: fixed;
}

#a {
    background-color: rgb(110, 0, 110);
    width: 400px;
    height: 400px;
    position: fixed;
    border-radius: 50%;
}

#b {
    background-color: rgb(92, 0, 92);
    width: 300px;
    height: 300px;
    position: fixed;
    border-radius: 50%;
}

#c {
    background-color: rgb(80, 0, 80);
    width: 200px;
    height: 200px;
    position: fixed;
    border-radius: 50%;
}

#d {
    background-color: white;
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
