section {
    height: 600px;
    width: 33.33%;
}

section+section {
    background-color: yellow;
}

section+section+section {
    background-color: orange;
}

@media (max-width: 800px) {
    main {
        flex-direction: column;
    }

    section {
        width: 100%;

    }
}

main {
    display: flex;
}